---
export interface Props {
    heading;
    text;
    btn;
    img;
}
const { heading, text, btn, img } = Astro.props;
---

<div class="screen1">
    <div class="wrap">
        <div class="flex-row h-between vstart">
            <div class="left">
                <h1><Fragment set:html={heading}></h1>
                <p>{text}</p>
                <button class="main-btn yellow get_contact">{btn}</button>
            </div>
            <div class="right">
                <img src={img.url} alt="{img.alt}">
            </div>
        </div>
    </div>
</div>