---
export interface Props {
    heading;
    cols;
    text;
    img;
}
const { heading, cols, text, img } = Astro.props;
---

<div class="screen5" id="how">
    <div class="wrap">
        <div class="section-heading">
            {heading}
        </div>
        <div class="flex-row vstart hbetween steps">
            {
                cols.map(function(item,i){
                    return <div class="col">
                    <span>0{i}</span>
                        <Fragment set:html={item.text}>
                    </div> 
                })
            }
        </div>
        <div class="flex-row vstart hbetween text-block">
            <div class="left">
                <Fragment set:html={text}>
            </div>
            <div class="right">
                <img src={img.url} alt={img.alt}>
            </div>
        </div>
    </div>
</div>