---
export interface Props {
    heading;
    cols;
    theme_path;
}
const { heading, cols, theme_path } = Astro.props;
---
<div class="screen6" id="feedback">
    <div class="wrap">
        <div class="section-heading">
            {heading}
        </div>
        <div class="reviews-wrap">
            <div class="reviews owl-carousel owl-theme">
                {
                    cols.map(function(item,i){
                        return <div class="review">
                            <img src={theme_path+'/img/quotes.svg'} class="q" alt="">
                            <p>{item.text}</p>
                            <div class="auth">
                                <img src={item.photo.url} alt={item.photo.alt}>
                                <span>{item.name}</span>
                            </div>
                        </div>
                    })
                }
            </div>
        </div>
    </div>
</div>