---
export interface Props {
    heading;
    cols;
    text_1;
    text_2;
}
const { heading, cols, text_1, text_2 } = Astro.props;
---

<div class="screen4" id="why">
    <div class="wrap">
        <div class="section-heading center">
            {heading}
        </div>
        <div class="flex-row vstretch hbetween">
            {
                cols.map(function(item,i){
                    return <div class="col">
                        {item.text}
                    </div> 
                })
            }
        </div>
        <div class="yellow-text">
            <Fragment set:html={text_1}>
        </div>
        <div class="simple-text">
            <Fragment set:html={text_2}>
        </div>
    </div>
</div>