---
export interface Props {
    heading;
    img;
    text;
}
const { heading, img, text } = Astro.props;
---

<div class="screen3" id="about">
    <div class="wrap">
        <div class="flex-row vstart hbetween">
            <div class="left">
                <img src={img.url} alt={img.alt}>
            </div>
            <div class="right">
                <div class="section-heading">
                    {heading}
                </div>
                <Fragment set:html={text}>
            </div>
        </div>
    </div>
</div>