---
export interface Props {
    heading;
    img;
    cols;
}
const { heading, img, cols } = Astro.props;
---
<div class="screen7" id="faq">
    <div class="wrap">
        <div class="flex-row vstart hbetween">
            <div class="left">
                <img src={img.url} alt={img.alt}>
            </div>
            <div class="right">
                <div class="section-heading">{heading}</div>
                <div class="faqs">
                    {
                        cols.map(function(item,i){
                            return <div class="faq">
                                <div class="top">
                                    {item.question}
                                </div>
                                <div class="bottom">
                                    {item.answer}
                                </div>
                            </div> 
                        })
                    }
                </div>
            </div>
        </div>
    </div>
</div>