---
export interface Props {
    heading;
    cols;
}
const { heading, cols } = Astro.props;
---

<div class="screen2">
    <div class="wrap">
        <div class="section-heading center">
            {heading}
        </div>
        <div class="flex-row vstart hbetween">
            {
                cols.map(function(item,i){
                    return <div class="col">
                                <img src={item.icon.url} alt={item.icon.alt}>
                                <span>{item.title}</span>
                                <p>{item.text}</p>
                            </div> 
                })
            }
        </div>
    </div>
</div>