---
import NavMenu from './Nav-menu.astro';

export interface Props {
	logo;
	menu;
	btn;
}
const { logo, menu, btn } = Astro.props;
---

<div class="header">
    <div class="wrap">
        <div class="flex-row hbetween vcenter">
            <a href="/" class="logo">
                <img src={logo} alt="Company logo" />
            </a>
            <div class="right main-menu-wrap">
                <NavMenu menu={menu} />
                <a href="" class="main-btn yellow get_contact">{btn}</a>
            </div>
            <div class="gam"><span></span></div>
        </div>
    </div>
</div>