---
import Popup from './Popup.astro';
export interface Props {
    logo;
    site_options;
    styles;
    scripts;
    theme_path;
}
const { logo, site_options, styles, scripts,theme_path } = Astro.props;
---
<div class="footer">
    <div class="wrap">
        <div class="flex-row vstart hbetween">
            <div class="left">
                <a href="/" class="logo"><img src={logo} alt=""></a>
                <div class="socs">
                    {
                        site_options.social.map(function(item,i){
                            return <a href={item.link}><img src={item.icon.url} alt={item.icon.alt}></a>
                        })         
                    }
                   
                </div>
            </div>
            <div class="center">
                <span>{site_options.title_footer}</span>
                <button class="main-btn yellow get_contact">{site_options.footer_button}</button>
            </div>
        </div>
        <div class="bottom">
            <p>{site_options.cop} {new Date().getFullYear()}</p>
        </div>
    </div>
</div>

<Popup
    options={site_options}
/>



        {
            styles.map(function(item,i){
                return <link rel="stylesheet" type="text/css" href={item}>
            })
        }

        {
            scripts.map(function(item,i){
                return <script src={item}></script>
            })
        }

    <script>
        function validateEmail($email) {
          var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
          return emailReg.test( $email );
        }
        jQuery('.popup form').validate({
            rules : {
                name : {
                    required : true,
                    maxlength : 40
                },
                email : {
                    required : true,
                    email:true,
                },
                text : {
                    required : true,
                    maxlength : 200
                }
            },
            messages: {
                name: {
                    required: 'This field is required',
                    maxlength:"Mas length is 40 characters"
                },
                email : {
                    email:'Your email is invalid',
                    required : 'This field is required',
                },
                text: {
                    required: 'This field is required',
                    maxlength:'Mas length is 200 characters'
                }
            },
            submitHandler: function(form) { 
                    sub(form)
                    return false;
                }
        })
    </script>

</body>
</html>