---
export interface Props {
    options;
}
const { options } = Astro.props;
---
<div class="main-popup-wrap" style="display: none;">
    <div class="popup-wrap">
        <div class="popup-closer"></div>
        <div class="popup">
            <div class="inner">
                <div class="section-heading">
                    {options.popup_heading}
                </div>
                <form action="?form-action=contact" method="POST">
                    <div class="input-wrap">
                        <input type="text" placeholder={options.form.input_1_placeholder} name="name" required>
                        <div class="input_border"></div>
                    </div>
                    <div class="input-wrap">
                        <input type="email" placeholder={options.form.input_2_placeholder} name="email" required>
                        <div class="input_border"></div>
                    </div>
                    <div class="input-wrap">
                        <textarea name="text" required placeholder={options.form.input_3_placeholder}></textarea>
                        <div class="input_border"></div>
                    </div>

                    <button class="main-btn yellow form_btn">{options.form.button}</button>
                    <div class="succ" style="display: none;">{options.form.successful_message}</div>
                </form>
            </div>
        </div>
    </div>
</div>