---
export interface Props {
	title;
	fav;
	styles;
	scripts;
}

const { title, fav, styles, scripts } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={fav} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		{
			styles.map(function(item,i){
				return <link rel="stylesheet" type="text/css" href={item}>
			})
		}

		{
			scripts.map(function(item,i){
				return <script src={item}></script>
			})
		}

	</head>
	<body>
		<slot />
	</body>
</html>

